<p>
  <strong>Book:</strong>
  <%= @lesson.book_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<% if can? :edit, Lesson %>
    <%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<% end %>
<%= link_to 'Back', lessons_path %>
