<div class="page-header">
    <h1>Listing Lessons of <%= @book.description %></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/dashboard" >Home</a> </li>
  <li class="active"><%= @book.description %></li>
</ol>

<div class="list-group">
  <% @lessons.each do |lesson| %>
    <%= link_to lesson.description, lesson_sections_path(lesson), :class => "list-group-item" %>
  <% end %>

</div>
